<config>
	<UpgradeCodes>
		<Product uninstallOrder="1">
			<name>desktopappliancelock_en</name>
			<GUID>{AD83B055-C1FB-47C7-B81C-4E910125A434}</GUID>
		</Product>
		<Product uninstallOrder="2">
			<name>desktopreceiver</name>
			<GUID>{FED202C4-EA51-490C-93A5-62B16AAD8563}</GUID>
		</Product>
		<Product uninstallOrder="3">
			<name>desktopreceiverfull</name>
			<GUID>{B8F4F4A9-24B8-4C77-8A59-202F515EC0B6}</GUID>
		</Product>
		<Product uninstallOrder="4">
			<name>nhspsclient</name>
			<GUID>{42DD9917-844F-42D8-8045-1732F4FCE3AC}</GUID>
		</Product>
		<Product uninstallOrder="5">
			<name>pnawrapper</name>
			<GUID>{17AE30E6-3046-4419-92C2-8CE2FF439A9F}</GUID>
		</Product>
		<Product uninstallOrder="6">
			<name>securitypolicyinstaller</name>
			<GUID>{E769AC43-6395-416B-89FD-3E07C9A89EC4}</GUID>
		</Product>
		<Product uninstallOrder="7">
			<name>selfserviceplugin</name>
			<GUID>{776B5739-C45E-49F5-8170-DD9729019299}</GUID>
		</Product>
		<Product uninstallOrder="8">
			<name>ssonwrapper</name>
			<GUID>{BAEA15B3-2779-491D-87C5-2DC0C51C3FF5}</GUID>
		</Product>
		<Product uninstallOrder="9">
			<name>authmanager</name>
			<GUID>{FE5C3BC9-611B-41CC-AC01-69C6F4717206}</GUID>
		</Product>
		<Product uninstallOrder="10">
			<name>vd3dclient</name>
			<GUID>{C9170C32-D2ED-4099-8F44-6E14593DF1B9}</GUID>
		</Product>
		<Product uninstallOrder="11">
			<name>citrixhdxmediastreamforflash-clientinstall</name>
			<GUID>{F1A0AE61-3AE6-47D8-A089-BD4A04802CEA}</GUID>
		</Product>
		<Product uninstallOrder="12">
			<name>desktopviewer</name>
			<GUID>{448F1A02-A7B4-4DA5-834F-0C0E04FFEDCB}</GUID>
		</Product>
		<Product uninstallOrder="13">
			<name>genericusb</name>
			<GUID>{70755658-255B-4EA6-BF8F-7188BDCFF7D0}</GUID>
		</Product>
		<Product uninstallOrder="14">
			<name>ica32pkg</name>
			<GUID>{94F321B9-45B0-4125-970D-DE3D98CBCA1C}</GUID>
		</Product>		
		<Product uninstallOrder="15">
			<name>ica32a</name>
			<GUID>{FA3AF0D6-84CB-4CDD-98D7-8954381270EC}</GUID>
		</Product>		
		<Product uninstallOrder="16">
			<name>ica32</name>
			<GUID>{B65F91BC-95EE-404C-88CB-961C38FD4DB3}</GUID>
		</Product>		
		<Product uninstallOrder="17">
			<name>citrixreceiverupdater</name>
			<GUID>{BED3B805-C830-4A85-AA32-02541BADAD1B}</GUID>
		</Product>		
		<Product uninstallOrder="18">
			<name>riinstaller</name>
			<GUID>{D64F3971-283B-45E8-8D25-0DC06ED6D91E}</GUID>
		</Product>		
	</UpgradeCodes>	
	<Processes>
		<Process>pnamain.exe</Process>
		<Process>ssonsvr.exe</Process>
		<Process>selfservice.exe</Process>
		<Process>selfserviceplugin.exe</Process>
		<Process>receiver.exe</Process>
		<Process>updater.exe</Process>
		<Process>wfcrun32.exe</Process>
		<Process>wfica32.exe</Process>
		<Process>concentr.exe</Process>
		<Process>AuthManSvr.exe</Process>
		<Process>Redirector.exe</Process>
		<Process>Radeobj.exe</Process>
		<Process>ARCompanion*.exe</Process>
	</Processes>
  <Services>
    <Service>ARPRIV</Service>
  </Services>
  <Files>
    <!-- Wow64Redir="yes" means %programfiles% will be explained as ProgramFiles(x86) in 64 bit Windows -->
    <File>%programdata%\Microsoft\Windows\Start Menu\Programs\Citrix Receiver.lnk</File>
    <File>%programdata%\Microsoft\Windows\Start Menu\Programs\Startup\Receiver.lnk</File>
    <File>%programdata%\Microsoft\Windows\Start Menu\Programs\Startup\Online plug-in.lnk</File>
    <File>%programdata%\Microsoft\Windows\Start Menu\Programs\Citrix\Online plug-in.lnk</File>
    <File>%programdata%\Microsoft\Windows\Start Menu\Programs\Citrix\Receiver.lnk</File>
    <File>%programdata%\Citrix\Citrix Receiver</File>
    <File>%programdata%\Citrix\Citrix Receiver (Enterprise)</File>
    <File>%programdata%\Citrix\Citrix online plug-in</File>
    <File>%programdata%\Citrix\Citrix online plug-in - web</File>
    <File>%ALLUSERSPROFILE%\Application Data\Citrix\Citrix Receiver</File>
    <File>%ALLUSERSPROFILE%\Application Data\Citrix\Citrix Receiver (Enterprise)</File>
    <File>%ALLUSERSPROFILE%\Application Data\Citrix\Citrix online plug-in</File>
    <File>%ALLUSERSPROFILE%\Application Data\Citrix\Citrix online plug-in - web</File>
    <File Wow64Redir="yes">%programfiles%\citrix\ICA client</File>
    <File Wow64Redir="yes">%programfiles%\citrix\authmanager</File>
    <File Wow64Redir="yes">%programfiles%\citrix\selfserviceplugin</File>
    <File Wow64Redir="yes">%programfiles%\citrix\Receiver</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\ICAClient</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\Citrix\Receiver</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\Citrix\AuthManager</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\Citrix\SelfService</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\Citrix\PNAgent</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\Microsoft\Windows\Start Menu\Programs\Citrix Receiver.lnk</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\Microsoft\Windows\Start Menu\Programs\Receiver.lnk</File>
    <File>%systemdrive%\users\*\Appdata\Roaming\Microsoft\Windows\Start Menu\Programs\Online plug-in.lnk</File>
    <File>%systemdrive%\users\*\Appdata\Local\Citrix\Citrix Receiver</File>
    <File>%systemdrive%\users\*\Appdata\Local\Citrix\Receiver</File>
    <File>%systemdrive%\users\*\Appdata\Local\Citrix\AuthManager</File>
    <File>%systemdrive%\users\*\Appdata\Local\Citrix\SelfService</File>
    <File>%systemdrive%\users\*\Appdata\Local\Citrix\PNAgent</File>
    <File>%systemdrive%\users\*\Appdata\Local\Citrix\ICA Client</File>
    <File>%systemdrive%\users\*\Appdata\Local\Citrix\Citrix online plug-in - web</File>
    <File>%systemdrive%\users\*\Appdata\Local\Program Files\Citrix\Receiver</File>
    <File>%systemdrive%\Documents and Settings\*\Application Data\ICAClient</File>
    <File>%systemdrive%\Documents and Settings\*\Application Data\Citrix\Citrix Receiver (Enterprise)</File>
    <File>%systemdrive%\Documents and Settings\*\Local Settings\Application Data\Citrix\PNAgent</File>
    <File>%systemdrive%\Documents and Settings\*\Local Settings\Application Data\Citrix\Receiver</File>
    <File>%systemdrive%\Documents and Settings\*\Start Menu\Programs\Citrix\Receiver.lnk</File>
    <File>%systemdrive%\Documents and Settings\*\Start Menu\Programs\Citrix\Online plug-in.lnk</File>
    <File>%systemdrive%\Documents and Settings\*\Start Menu\Programs\Citrix\Citrix Receiver.lnk</File>
    <File>%appdata%\ICAClient</File>
    <File>%appdata%\Citrix\Receiver</File>
    <File>%appdata%\Citrix\AuthManager</File>
    <File>%appdata%\Citrix\SelfService</File>
    <File>%appdata%\Citrix\PNAgent</File>
  </Files>
	<Registry>
			<!-- Wow6432node="yes" means delete Wow6432node key in 64 bit windows  -->
		<Values>
			<Value Wow6432node="yes">
				<KeyName>HKLM\Software\Microsoft\Windows\Currentversion\Run</KeyName>
				<ValueName>ConnectionCenter</ValueName>
			</Value>
			<Value Wow6432node="yes">
				<KeyName>HKLM\Software\Microsoft\Windows\Currentversion\Run</KeyName>
				<ValueName>CitrixReceiver</ValueName>
			</Value>
		</Values>
		
		<Keys>
		<!-- Only supports one * wildcard -->
			<Key>HKEY_USERS\*\Software\citrix\AuthManager</Key>
			<Key>HKEY_USERS\*\Software\citrix\CitrixCAB</Key>
			<Key>HKEY_USERS\*\Software\citrix\ICA Client</Key>
			<Key>HKEY_USERS\*\Software\citrix\PNAgent</Key>
			<Key>HKEY_USERS\*\Software\citrix\Dazzle</Key>
			<Key>HKEY_USERS\*\Software\citrix\Receiver</Key>
			<Key>HKEY_USERS\*\Software\citrix\ReceiverInside</Key>
			<Key>HKEY_USERS\*\Software\citrix\PrinterProperties</Key>
			<Key>HKEY_USERS\*\Software\citrix\XenDesktop\DesktopViewer</Key>
			<Key>HKEY_USERS\*\Software\citrix\Program Neighborhood Agent</Key>
			<Key>HKEY_USERS\*\Software\citrix\PluginPackages</Key>
			<Key>HKEY_USERS\*\Software\Citrix\InstallDetect\{A9852000-047D-11DD-95FF-0800200C9A66}</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\{94F321B9-45B0-4125-970D-DE3D98CBCA1C}</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\{70755658-255B-4EA6-BF8F-7188BDCFF7D0}</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\ICA Client</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\MUI</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\ReceiverInsideForOnline</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\PNAgent</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\DesktopViewer</Key>
			<Key>HKEY_USERS\*\Software\Citrix\Install\SSON</Key>		
			<Key>HKEY_USERS\*\Software\citrix\PluginPackages</Key>
			<Key>HKEY_USERS\*\Software\Classes\.ica</Key>
			<Key>HKEY_USERS\*\Software\Classes\WinFrameICA</Key>
			<Key>HKEY_USERS\*\Software\Classes\Citrix.ICAClient*</Key>
			<Key>HKEY_USERS\*\Software\Classes\Citrix.ICAClientProp*</Key>
			<Key>HKEY_USERS\*\Software\Classes\ICAMimeFilter.IcaMimeFilterPP*</Key>
			<Key>HKEY_USERS\*\Software\Classes\ICAMimeFilter.IcaMimeFilterPP*</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\16EA0A1F6EA38D740A98DBA44008C2AE</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\1793F46DB3828E54D852D00CE66D9DE1</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\20A1F8444B7A5AD438F4C0E040FFDEBC</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\23C0719CDE2D9904F844E64195D31F9B</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\9375B677E54C5F941807DD7992102999</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\9B123F490B54521479D0EDD389BCACC1</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\9CB3C5EFB116CC14CA10966C4F172760</Key>
			<Key>HKEY_USERS\*\Software\Microsoft\Installer\UpgradeCodes\508B3DEB038C58A4AA232045B1DADAB1</Key>
			<Key Wow6432node="yes">HKEY_USERS\*\Software\Microsoft\Windows\CurrentVersion\Uninstall\CitrixOnlinePluginFull</Key>
			<Key Wow6432node="yes">HKEY_USERS\*\Software\Microsoft\Windows\CurrentVersion\Uninstall\CitrixOnlinePluginPackWeb</Key>
		
			<Key>HKCR\.ica</Key>
			<Key>HKCR\wfica</Key>
			<Key>HKCR\WinFrameICA</Key>
			<Key>HKCR\Mime\Database\Content Type\application/x-ica*</Key>
			<Key>HKCR\Installer\UpgradeCodes\9b123F490B54521479D0EDD389BCACC1</Key>		
			<Key>HKCR\clsid\{238F*</Key>
			<Key>HKCR\ICAMimeFilter.IcaMimeFilterPP*</Key>
			<Key>HKCR\citrix.AuthManager*</Key>
			<Key>HKCR\citrix.AuthSingleUseFactory*</Key>
			<Key Wow6432node="yes">HKCR\citrix.icaclient*</Key>
			<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall\CitrixOnlinePluginFull</Key>
			<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall\CitrixOnlinePluginPackWeb</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\AuthManager</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\CitrixCAB</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Dazzle</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\ICA Client</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\ReceiverInside</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\PNAgent</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\PluginPackages\XenAppSuite</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\XenDesktop\DesktopViewer</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Receiver</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Program Neighborhood Agent</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\{94F321B9-45B0-4125-970D-DE3D98CBCA1C}</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\ICA Client</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\PNAgent</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\DesktopViewer</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\ReceiverInsideForOnline</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\MUI</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\{70755658-255B-4EA6-BF8F-7188BDCFF7D0}</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\Install\SSON</Key>
			<Key Wow6432node="yes">HKLM\Software\Citrix\InstallDetect\{A9852000-047D-11DD-95FF-0800200C9A66}</Key>
			<Key>HKLM\SOFTWARE\Classes\Citrix.AuthManager*</Key>
			<Key>HKLM\SOFTWARE\Classes\Citrix.AuthSingleUseFactory*</Key>
			<Key>HKLM\SOFTWARE\Classes\Citrix.ICAClient*</Key>
			<Key>HKLM\SOFTWARE\Classes\ICAMimeFilter.IcaMimeFilterPP*</Key>
			<Key>HKLM\SOFTWARE\Classes\Wow6432Node\Citrix.ICAClient*</Key>
			<Key>HKLM\SOFTWARE\Classes\Wow6432Node\.ica</Key>
			<Key>HKLM\SOFTWARE\Wow6432Node\Classes\.ica</Key>
			<Key>HKLM\SOFTWARE\Wow6432Node\Classes\Citrix.ICAClient*</Key>
			<Key>HKLM\SOFTWARE\Wow6432Node\Classes\ICAMimeFilter.IcaMimeFilterPP*</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\16EA0A1F6EA38D740A98DBA44008C2AE</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\27F87EC29A211674CA0253454015BCDB</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\20A1F8444B7A5AD438F4C0E040FFDEBC</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\23C0719CDE2D9904F844E64195D31F9B</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\9375B677E54C5F941807DD7992102999</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\9B123F490B54521479D0EDD389BCACC1</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\9CB3C5EFB116CC14CA10966C4F172760</Key>
			<Key>HKLM\SOFTWARE\Classes\Installer\UpgradeCodes\508B3DEB038C58A4AA232045B1DADAB1</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\16EA0A1F6EA38D740A98DBA44008C2AE</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\27F87EC29A211674CA0253454015BCDB</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\20A1F8444B7A5AD438F4C0E040FFDEBC</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\23C0719CDE2D9904F844E64195D31F9B</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\9375B677E54C5F941807DD7992102999</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\9B123F490B54521479D0EDD389BCACC1</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\9CB3C5EFB116CC14CA10966C4F172760</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\508B3DEB038C58A4AA232045B1DADAB1</Key>
			<Key>HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Installer\UpgradeCodes\1793F46DB3828E54D852D00CE66D9DE1</Key>
			<Key>HKLM\System\CurrentControlSet\Services\PnSson</Key>
			<Key>HKLM\System\ControlSet001\Services\PnSson</Key>
			<Key>HKLM\System\ControlSet002\Services\PnSson</Key>
			<Key>HKLM\Software\Microsoft\Windows\Currentversion\Installer\UserData\S-1-5-18\Components\AAC19809250CF4140B060EBD01517B77</Key>
			<!-- Self Service 3.4 CU 0 -->
			<Key>HKLM\Software\citrix\installdetect\{6245E940-DA64-4D98-ACBB-56CEEE42E684}</Key>
			<Key>HKLM\Software\Microsoft\Windows\Currentversion\Uninstall\{6245E940-DA64-4D98-ACBB-56CEEE42E684}</Key>
			<!-- Self Service 3.4 CU1 -->
			<Key>HKLM\Software\citrix\installdetect\{EF269F8D-1DFE-4C3B-9CE9-09C5773C0CF9}</Key>
			<Key>HKLM\Software\Microsoft\Windows\Currentversion\Uninstall\{EF269F8D-1DFE-4C3B-9CE9-09C5773C0CF9}</Key>
			<!-- Self Service 3.4 CU2 -->
			<Key>HKLM\Software\citrix\installdetect\{B86C7A38-CB61-47D1-BF6F-FAB700754874}</Key>
			<Key>HKLM\Software\Microsoft\Windows\Currentversion\Uninstall\{B86C7A38-CB61-47D1-BF6F-FAB700754874}</Key>
			<!-- Self Service 4.0 -->
			<Key Wow6432node="yes">HKLM\Software\citrix\installdetect\{6C487153-A286-48F7-BE55-717552E90E20}</Key>
			<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\Currentversion\Uninstall\{6C487153-A286-48F7-BE55-717552E90E20}</Key>
			<!-- Self Service 4.0.1 -->
			<Key Wow6432node="yes">HKLM\Software\citrix\installdetect\{F27b8f8f-25ef-4198-96ad-f611ffe0985b}</Key>
			<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\Currentversion\Uninstall\{F27b8f8f-25ef-4198-96ad-f611ffe0985b}</Key>
			<!-- Self Service 4.1 -->
			<Key Wow6432node="yes">HKLM\Software\citrix\installdetect\{47117FCA-0D00-4B6D-9D68-00B763629463}</Key>
			<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\Currentversion\Uninstall\{47117FCA-0D00-4B6D-9D68-00B763629463}</Key>
		</Keys>
		<!-- recursively search for Subkeys with value contains Pattern, Trailing string will be removed from the Keys found. Then these Keys will be deleted. -->
		<SearchAndRemove>
			<Search>
				<Key>HKEY_USERS\*\Software\Microsoft\Installer\Products</Key>
				<Pattern>online Plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKEY_USERS\*\Software\Microsoft\Installer\Products</Key>
				<Pattern>Citrix Receiver</Pattern>
			</Search>
			<Search>
				<Key>HKEY_USERS\*\Software\Microsoft\Installer\Products</Key>
				<Pattern>Citrix Authentication Manager</Pattern>
			</Search>
			<Search>
				<Key>HKEY_USERS\*\Software\Microsoft\Installer\Products</Key>
				<Pattern>Citrix offline plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKEY_USERS\*\Software\Microsoft\Installer\Products</Key>
				<Pattern>Self-service Plug-in</Pattern>
			</Search>

			<Search>
				<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall</Key>
				<Pattern>Citrix Receiver</Pattern>
			</Search>
			<Search>
				<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall</Key>
				<Pattern>Online Plug-in</Pattern>
			</Search>
			<Search>
				<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall</Key>
				<Pattern>Citrix offline plug-in</Pattern>
			</Search>
			<Search>
				<Key Wow6432node="yes">HKLM\software\microsoft\windows\currentversion\Uninstall</Key>
				<Pattern>Citrix Authentication Manager</Pattern>
			</Search>
			<Search>
				<Key Wow6432node="yes">HKLM\software\microsoft\windows\currentversion\Uninstall</Key>
				<Pattern>Self-service Plug-in</Pattern>
			</Search>
			
		<!-- -->	
			
			<Search>
				<Key>HKLM\Software\Classes\Installer\Products</Key>
				<Pattern>SSONWrapper.msi</Pattern>
				<Trailing>SourceList</Trailing>
			</Search>
			<Search>
				<Key>HKLM\Software\Classes\Installer\Products</Key>
				<Pattern>PNAWrapper.msi</Pattern>
				<Trailing>SourceList</Trailing>
			</Search>
			
				<!-- Entries for 12.x Online Plug-in -->
			
			
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>Citrix Receiver</Pattern>
			</Search>
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>Citrix offline plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>Citrix Online Plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>Citrix Authentication Manager</Pattern>
			</Search>
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>Self-service Plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKCU\Software\Microsoft\Installer\Products</Key>
				<Pattern>Citrix Online Plug-in</Pattern>
			</Search>

				<!-- Entries for 11.x Online Plug-in -->			
			<Search>
				<Key Wow6432node="yes">HKLM\Software\Microsoft\Windows\CurrentVersion\Installer</Key>
				<Pattern>Citrix Online Plug-in</Pattern>
			</Search>
			
			<Search>
				<Key>HKLM\Software\Classes\Installer\Products</Key>
				<Pattern>Citrix Online plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\Classes\Installer\Products</Key>
				<Pattern>Citrix offline plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\Classes\Installer\Products</Key>
				<Pattern>Citrix Authentication Manager</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\Classes\Installer\Products</Key>
				<Pattern>Citrix Receiver</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\Classes\Installer\Products</Key>
				<Pattern>Self-service Plug-in</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>Citrix Authentication Manager</Pattern>
			</Search>
				<!-- Self Service 3.4 CU 0 -->
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>6245E940-DA64-4D98-ACBB-56CEEE42E684</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>{6245E940-DA64-4D98-ACBB-56CEEE42E684}</Pattern>
			</Search>
			<Search>
				<Key>HKLM\software\microsoft\windows\currentversion\INSTALLER\UserData\S-1-5-18\Products</Key>
				<Pattern>{6245E940-DA64-4D98-ACBB-56CEEE42E684}</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
				<!-- Self Service 3.4 CU 1 -->
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>EF269F8D-1DFE-4C3B-9CE9-09C5773C0CF9</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>{EF269F8D-1DFE-4C3B-9CE9-09C5773C0CF9}</Pattern>
			</Search>
			<Search>
				<Key>HKLM\software\microsoft\windows\currentversion\INSTALLER\UserData\S-1-5-18\Products</Key>
				<Pattern>{EF269F8D-1DFE-4C3B-9CE9-09C5773C0CF9}</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
				<!-- Self Service 3.4 CU 2 -->
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>B86C7A38-CB61-47D1-BF6F-FAB700754874</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>{B86C7A38-CB61-47D1-BF6F-FAB700754874}</Pattern>
			</Search>
			<Search>
				<Key>HKLM\software\microsoft\windows\currentversion\INSTALLER\UserData\S-1-5-18\Products</Key>
				<Pattern>{B86C7A38-CB61-47D1-BF6F-FAB700754874}</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
				<!-- Self Service 4.0 -->
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>6C487153-A286-48F7-BE55-717552E90E20</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>{6C487153-A286-48F7-BE55-717552E90E20}</Pattern>
			</Search>
			<Search>
				<Key>HKLM\software\microsoft\windows\currentversion\INSTALLER\UserData\S-1-5-18\Products</Key>
				<Pattern>{6C487153-A286-48F7-BE55-717552E90E20}</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
				<!-- Self Service 4.0.1 -->
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>F27b8f8f-25ef-4198-96ad-f611ffe0985b</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>{F27b8f8f-25ef-4198-96ad-f611ffe0985b}</Pattern>
			</Search>
			<Search>
				<Key>HKLM\software\microsoft\windows\currentversion\INSTALLER\UserData</Key>
				<Pattern>{F27b8f8f-25ef-4198-96ad-f611ffe0985b}</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
				<!-- Self Service 4.1 -->
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>47117FCA-0D00-4B6D-9D68-00B763629463</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>{47117FCA-0D00-4B6D-9D68-00B763629463}</Pattern>
			</Search>
			<Search>
				<Key>HKLM\software\microsoft\windows\currentversion\INSTALLER\UserData</Key>
				<Pattern>{47117FCA-0D00-4B6D-9D68-00B763629463}</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
		
				<!-- Receiver Updater -->
			<Search>
				<Key>HKCR\Installer\Products</Key>
				<Pattern>Citrix Receiver Updater</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\classes\Installer</Key>
				<Pattern>Citrix Receiver Updater</Pattern>
			</Search>
			<Search>
				<Key Wow6432node="yes">HKLM\software\microsoft\windows\currentversion\Uninstall</Key>
				<Pattern>Citrix Receiver Updater</Pattern>
			</Search>
			<Search>
				<Key>HKLM\Software\Microsoft\Windows\CurrentVersion\Installer\UserData</Key>
				<Pattern>Citrix Receiver</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
			<Search>
				<Key>HKLM\Software\Microsoft\Windows\CurrentVersion\Installer\UserData</Key>
				<Pattern>online plug-in</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
            <Search>
				<Key>HKLM\Software\Microsoft\Windows\CurrentVersion\Installer\UserData</Key>
				<Pattern>Self-service Plug-in</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>     		
			<Search>
				<Key>HKLM\Software\Microsoft\Windows\CurrentVersion\Installer\UserData</Key>
				<Pattern>Citrix offline plug-in</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
            <Search>
				<Key>HKLM\Software\Microsoft\Windows\Currentversion\Installer\UserData</Key>
				<Pattern>Citrix Authentication Manager</Pattern>
				<Trailing>InstallProperties</Trailing>
			</Search>
		</SearchAndRemove>	
	</Registry>
</config>